body {
    image-rendering: pixelated;
    background-image: url("ojo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 80%;
    font-family: 'Times New Roman', Times, serif;
}

.farol img {
    width: 7%;
}

.dibujos {
    padding: 5% 0% 0% 90%;
}

.textos {
    padding: 15% 0% 0% 20%;
}

.religion {
    padding: 23% 0% 0% 43%;
}

.fotos {
    padding: 12% 70% 0% 0%
}

.bosque {
    padding: 19% 95% 0% 0%;
}