body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.box {
    padding: 5%;
    border: 5px solid white;
}

.layout {
    padding: 20% 40% 0% 40%;
}

.botones {
    text-align:center;
}

.botones img:hover {
    animation: invert 0.25s steps(1) infinite;
}
@keyframes invert {
    0% {
        filter: none;
    }
    50% {
        filter: invert(1);
    }
    100% {
        filter: none;
    }
}